$main-text-color: rgb(240, 240, 240);
$accent-text-color: rgb(220, 47, 47);
$main-transition: all 0.1s ease-in-out;
$main-color: rgba(14, 70, 47, 1);
$main-color-darker: rgba(13, 43, 31, 1);
$main-color-light: rgba(16, 149, 70, 1);
$main-color-hover: rgba(63, 172, 149, 1);
$background-white: rgb(250, 250, 250);
$background-dim: rgb(240, 240, 240);
