@import '../../styles/variables.scss';

#locations__section {
  color: black;
  padding: 5% 10%;
  text-align: center;
  background-color: $background-white;

  .section__title {
    font-size: 6rem;
  }

  .locations__card {
    background-color: $background-dim;
    margin: 2rem 0;
    padding: 2rem;
    height: 600px;
    position: relative;

    h1 {
      position: absolute;
      font-size: 4rem;
      color: white;
      bottom: 10%;
      left: 5%;
    }

    img {
      width: 60%;
      // height: 100%;
      // overflow: hidden;
    }

    .locations__details {
      font-size: 1.25rem;
      p {
        padding: 4rem 2rem;
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  #locations__section {
    .section__title {
      font-size: 4rem;
    }
    .locations__card {
      margin: 2rem 0;
      padding: 2rem;
    }
  }
}

@media screen and (max-width: 750px) {
  #locations__section {
    .section__title {
      font-size: 2rem;
    }
    .locations__card {
      margin: 2rem 0;
      padding: 0.5rem;
      h1 {
        font-size: 3rem;
        bottom: 5%;
      }
    }
  }
}
